* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    background: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExeHlhOGFxNHlvaWU4ZmVzaHgxcGZkNDVrN2pwdHhzOW51NjFnYnJmbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/yXkH4CfyU8LNcNmtPF/giphy.gif);
    background-size: cover;
    color: black;
    overflow: auto;
}