.footer {
    /*background: linear-gradient(#07966e, #58ceb4, #07966e);
    bottom: 0;*/
    color: #f0f7fb;
    /*display: inline-flex;*/
    height: 2rem;
    margin: initial;
    padding: 0 8px;
    /*position: fixed;*/
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 576px){
    .footer {
        height: 3.5rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px){
    .footer {
        height: 2.5rem;
        font-size: 15px;
    }
}